/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of Reset */
/*start of Custom Styles */

<link href="css/font-awesome.min.css" rel="stylesheet">

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

/* Navigation Section */
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
}
.top-navigation > .content {
	width: 865px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}
.top-navigation .links {
	float: right;
	color: #838994;
	font-size: 17 px;
	display: inline-block;
	margin-top: 28px;
}

.links li.active {
	color: #4C5058;
	font-weight: 600;
}

.links li:hover {
	cursor: pointer;
	color: #333333;
	
}
.links li {
	display: inline-block;
	margin-left: 28px;

}
.logo {
	margin-top: 5px;
}

/* Introduction Section */
.introduction {
	background-image: url('../images/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 735px;
	overflow: auto;
}
.introduction h1,
.introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}
.introduction h1 {
	font-size: 50px;
	margin-top: 282px;
}
.introduction h3 {
	font-size: 25px;
	margin-top: 18px;
}

/* Buttons */
.introduction .buttons {
	color: white;
	text-align: center;
	margin-top: 23px;
}
button {
	width: 155px;
	background-color: #F15A29;
	border-color: #F15A29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 15px;
	color: white;
	font-size: 18px;
}
button:hover {
	background-color: #D9400E;
	border-color: #CF3D0E;
	cursor: pointer;
}

/* Three Case Images */

.cases .devices > li {
	float:left;
	width: 33%;
}
.cases h2 {
	font-size: 38px;
	font-weight: 300;
	margin: 23px 0 44px;
}
.cases h3 {
	font-size: 23px;
	margin: 35px 0 36px;
}
.cases {
	overflow: hidden;
	padding-bottom: 70px;
}
.cases .content {
	text-align: center;
	margin-top: 110px;
}

/* Footer */

.social {
	overflow: auto;
	text-align: center;
	padding-bottom: 136px;
}
.social hr {
	margin: 17px 0;
}
.social .copy {
	font-size: 13px;
	font-weight: 300;
	color: #838994;
}
.social .icons > li {
	border-radius: 17px;
	width: 35px;
	height: 35px;
	border: 1px solid #EAEBEC;
	display: inline-block;
	text-align: center;
	margin: 18px 5px;
	padding-bottom: 9px 0;
}
